.about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 84px;
   width: 100%;
}

.container {
   outline: 1px red solid;
   width: 1200px;
   max-width: 100%;
}