:root {
	background-color: var(--background);
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	box-sizing: border-box;
}

.container {
	width: 1200px;
	max-width: 100%;
	box-sizing: border-box;
}

.container > h1 {
	color: var(--text);
	font-size: clamp(2rem, 3vw, 3.25rem);
}

.container > p .main-page > section > p {
	font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.container > h2,
.main-page > section > h2 {
	font-size: clamp(1.45rem, 3vw, 2rem);
}

.container > div {
	width: clamp(70%, 1000px, 85%);
	margin: 0 auto;
}

.main-page {
	display: flex;
	flex-direction: row;
	padding: 2rem 4rem;
	border-radius: 10px;
	background-color: var(--secondary);
	margin-top: 5rem;
	color: var(--text);
	gap: 1.5rem;
}

.about > footer {
	width: 100%;
	box-sizing: border-box;
	padding: 1.3rem 0;
	text-align: center;
	background-color: var(--primary);
	color: var(--background);
	margin-top: 5rem;
}

@media screen and (max-width: 1200px) {
	.main-page {
		border-radius: 0;
	}
}

@media screen and (max-width: 900px) {
	.main-page {
		flex-direction: column;
		gap: 0.25rem;
		padding: 1rem 2rem;
	}
}
