:root {
   --text: #ffffff;
   --background: #011113;
   --primary: #96eef8;
   --secondary: #032b30;
   --accent: #0fd9f0;

   background-color: var(--background);
}

.app {
   display: flex;
   height: 100vh;
   width: 100%;
   box-sizing: border-box;
   flex-direction: column;
   color: var(--text);
   background-color: var(--background);
}

::selection {
   background-color: var(--primary);
   color: var(--background);
}

.app>header {
   padding: 1rem 0;
   background-color: var(--secondary);
   display: flex;
   position: fixed;
   width: 100%;
}

.nav-logo {
   padding: 0;
   border: 0;
   margin: 0;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin-left: 2rem;
   padding: 0rem 1rem;
   transition: transform 300ms;
   text-decoration: none;
   color: var(--primary);
   font-weight: 700;
   transition: 1s;
}

.nav-logo:hover {
   transform: scale(1.05);
   cursor: pointer;
   letter-spacing: 1rem;
}

.app>header>nav {
   display: flex;
   gap: 1.5rem;
   font-size: 1.5rem;
   font-weight: 500;
   color: var(--accent);
   margin-left: auto;
   margin-right: 2rem;
}

.nav-items {
   padding: 0.5rem 1rem;
   border-radius: 5px;
   transition: background-color 0.3s;
   text-decoration: none;
   color: var(--text);
}

.nav-items.active {
   outline: 1px red solid;
}

.nav-items:nth-child(1n):hover {
   color: var(--background);
   background-color: var(--primary);
   cursor: pointer;
}

.not-found {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 84px;
   width: 100%;
}

@media screen and (max-width: 768px) {
   .nav-items {
      display: none;
   }
}