.career-details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.container {
   width: 1200px;
   max-width: 100%;
}

.container>h2 {
   color: var(--text);
   font-size: 2rem;
}

.container>main>section {
   background-color: var(--secondary);
   padding: 1rem 2rem;
   box-sizing: border-box;
   border-radius: 10px;
}