.careers {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.container {
   width: 1200px;
   max-width: 100%;
}

.container>h1 {
   color: var(--text);
   font-size: 3rem;
}

.careers-items-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.career-item {
   font-size: 1rem;
   background-color: var(--secondary);
   padding: 1rem 2rem;
   border-radius: 10px;
   max-width: 100%;
   transition: transform 150ms ease-in;
}

.career-item>a {
   color: var(--text);
   text-decoration: none;
}

.career-item:hover {
   transform: translateY(-2%) scale(1.01);
   background-color: var(--accent);
   
   & a {
      color: var(--background);
   }
}

.careers>footer {
   width: 100%;
   box-sizing: border-box;
   padding: 1.3rem 0;
   text-align: center;
   background-color: var(--primary);
   color: var(--background);
   margin-top: 5rem;
}