@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --text: #ffffff;
   --background: #011113;
   --primary: #96eef8;
   --secondary: #032b30;
   --accent: #0fd9f0;
}

body {
   font-size: 17px;
   font-family: 'Inter', sans-serif;
   padding: 0;
   margin: 0;
   border: 0;
   --background: #011113;
}

a.active {
   background-color: var(--primary);
   color: var(--secondary);
   border: 0;
}