body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.sliderBtn {
    position: absolute;
    left: 0;
    right: 0;
}

.swiper-button-next, .swiper-button-prev {
    top: 0;
    color: white;
    opacity: 0.8;
}

.swiper img {
    width: 100%;
}