.cat-dialog-paper {
    max-width: 650px !important;
    width: 100% !important;
    max-height: 1000px !important;
    height: 80% !important;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 40px 10px;
    box-sizing: border-box;
}

.cat-dialog-container {
    box-sizing: border-box;
    font-family: var(--Roboto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 85%; 
    height: 100%; 
    background-color: var(--accent-color);
    box-sizing: border-box;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 15px;
    overflow: hidden;
}

.cat-dialog-container h2 {
    color: var(--primary-color);
    word-wrap: break-word;
    font-family: var(--AmaticSC);
    text-transform: lowercase;
    font-size: 40px;
    margin: 0;
    margin-top: 40px;
}

.cat-description, 
.cat-details,
.cat-stats-container {
    width: 80%;
}

.cat-description h3, 
.cat-stats-container h3 {
    font-family: var(--AmaticSC);
    font-size: 30px;
    color: var(--primary-color);
    margin: 0;
    margin: 1em 0;
}

.cat-description-details,
.stats-wrapper {
    background-color: var(--primary-color);
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 20px;
}


.image-container {
    width: auto !important;
    height: 250px;
    position: relative;
    text-align: center;
}

.image-container > img {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.cat-stats-container h3 {
    margin-top: 1.5em;
}

.stats-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.stats {
    display: grid;
    grid-template-columns: 1.5fr 3fr 0.5fr;
    margin: 10px 0;
    height: 40px;
    text-align: center;
    align-items: center;
}

.cat-stats-bar {
    height: 50%;
    width: 100%;
    outline: 1px solid var(--font-color-1);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.progress-bar {
    height: 100%;
    width: 100%;
    background-color: var(--accent-color-3);
    border-radius: 20px;
}

.stats-name {
    font-size: 13px;
    font-weight: 700;
}

.max-bar {
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--primary-color);
    border-radius: 10px; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #ffdc52;
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ffd429;
}