.cat-dialog-paper {
    max-width: 650px !important;
    width: 100% !important;
    max-height: 1000px !important;
    height: 80% !important;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 40px 10px;
    box-sizing: border-box;
}

.cat-dialog-container {
    box-sizing: border-box;
    font-family: var(--Roboto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 85%; 
    height: 100%; 
    background-color: var(--accent-color);
    box-sizing: border-box;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
}

.cat-dialog-container h2 {
    color: var(--primary-color);
    word-wrap: break-word;
    font-family: var(--AmaticSC);
    text-transform: lowercase;
    font-size: 30px;
}

.cat-description {
    width: 80%;
    background-color: var(--primary-color);
}

.cat-dialog-container > .content-wrapper > img {
    width: auto !important;
    height: 250px;
    max-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.cat-stats {
    width: 80%;
}

.cat-details {
    width: 80%;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}