.getcats-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.getcats-content {
    outline: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.getcats-content h1 {
    margin: 1em;
    font-family: var(--AmaticSC);
    text-transform: lowercase;
    font-size: 50px;
}

.catlist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
    list-style-type: none;
    text-align: center;
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center; 
    outline: cadetblue 1px solid;
}
.catlist-container li {
    box-sizing: border-box;
    padding: 20px;
}