.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content h1 {
    margin: 2em 0;
    font-size: 40px;
}

.content-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

.content-details > p {
    padding: 1em 2em;
    background-color: var(--primary-color-1);
    color: var(--font-color-1);
    margin-inline-start: 40px;
    width: 20%;
    border-radius: 20px;
}

.contents {
    width: 30%;
    font-size: 30px !important;
    margin-top: 2em;
    padding-bottom: 2em;
}