@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --Roboto: 'Roboto', sans-serif;
    --OpenSans: 'Open Sans', sans-serif;
    --Bruno: 'Bruno Ace SC', cursive;
    --Montserrat: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    text-align: center;
}

.header-container h1 {
    font-size: 50px;
    font-family: var(--Montserrat);
}

.header-container h2 {
    font-size: 30px;
    font-family: var(--OpenSans);
}

.boxes-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-container {
    margin-top: 30px;
    width: 100%;
    max-width: 1136px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    padding: 0;
    margin: 0;
}

.numbered-box {
    width: 140px;
    height: 140px;
    background-color: lightblue;
    margin: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: transform 3s;
    border-radius: 100%;
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.2);
}
  
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
  
.numbered-box:active {
    animation: pulse 0.3s;
}

.numbered-box:hover {
    opacity: 80%;
}

.numbered-box span {
    color: white;
    font-family: var(--Roboto);
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
}

.footer-container{
    background-color: #A17B50;
    width: 100%;
    color: white;
    font-family: var(--Montserrat);
    text-align: center;
    margin-top: 100px;
}
