body {
   background-color: #7626ff4b;
}

.item-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 50%;
   gap: 50px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);/
}

.item>button {
   transition: transform 0.2s ease;
   cursor: pointer;
   color: white;
}

.item {
   position: relative;
}

.dialog {
   position: absolute;
   top: 30px;
   /* Position the dialog below the button */
   left: 70px;
   padding: 10px;
   background-color: #ffffff;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   z-index: 1000;
}