.header {
    background-color: #3fbcdbe7;
    padding: 25;
    padding: 40px;
    margin: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.header h1 {
    font-size: 70px;
    line-height: 100px;
}

.header-wrapper {
    font-weight: 500; 
    border: 5px solid orange;
}