@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

:root {
    --OpenSans: 'Open Sans', sans-serif;
    --cyan: #61dcfbc7;
    --black: #3f4445;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--OpenSans);
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.country-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this line to center elements horizontally */
    max-width: 350px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background-color: var(--cyan);
    margin: 10px 20px;
    padding: 20px 40px;
    border-radius: 10px;
    transition: 500ms;
}

.country-wrapper:hover {
    opacity: 0.7;
    cursor: pointer;
}

.country-wrapper:active {
    background-color: white;
    border: 1px black solid;
    max-width: 300px;
}

.country-wrapper:nth-child(0):active {
    outline: black 1px solid;
}
  
.country-wrapper img {
    width: auto;
    height: 120px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    margin-bottom: 15px; /* Add this line to add some space below the image */
}

@media screen and (max-width: 375px) {
    .country-wrapper .box img {
        height: 80px;
    }

}

.country-wrapper .box {
    margin-inline: 10px;
    color: var(--black);
}